body {
  background-color: #8086FF ;
  color: #E6C74C;
}

button {
background-color: #E6C74C;
  color: white;
  border-radius: 10%;

}

.App {
  text-align: center;
}



nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: coral;
  color:white;
  text-decoration: none;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 list-style: none;


}
.text-link {
  color: inherit;
  text-decoration: inherit;
}

.to-do-title {
  text-transform: lowercase;
  color: #E6C758;
}