body {
  background-color: antiquewhite;
  color: darkseagreen;
}

button {
background-color: cadetblue;
  color: white;
  border-radius: 10%;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: coral;
  color:white;
  text-decoration: none;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 list-style: none;


}